{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="bg" style="background-image:url('{% static 'images/fonds/direction.jpg' %}')">

</body>
<footer class="box">
        <div class="copyright">
            <em>© 2023 - Royale Union Musicale de Petit-Dour - All rights reserved - Réalisé par J.D.</em>
        </div>
        <div class="liens">
            <a href="https://www.facebook.com/profile.php?id=100009126660232"
               title="Vers la page Facebook de la RUM" target="_blank">
                <img src="static/images/icons/Facebook.ico" height="25px">
            </a>
        </div>
    </footer>
</html>