<!-- lien des sociétés amies -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Liens vers les sites Web de sociétés amies</title>
        <link href="{% static 'CSS/style.css' %}" rel="stylesheet">
    <body>
        <header class="header2">
            <div class="header2BoxImg">
                <a href="home">
                    <img src="{% static 'images/logos/RUM.jpg' %}" width="100%" height="100%">
                </a>
            </div>
            <div class="boxTitre">
                <p>Sites Web de sociétés amies</p>
            </div>
        </header>
        <section class="conteneur">
            <div class="blocMenu">
                <a href="historique">Historique</a>
                <a href="orchestre">Orchestre</a>
                <a href="repertoire">Répertoire annuel</a>
                <a href="agenda">Agenda</a>
                <a href="pratique">Infos pratiques</a>
                <a href="media">Quelques photos</a>
                <a href="asbl">ASBL</a>
                <a href="liensSocietes">Sociétés amies</a>
                <a href="adressesUtiles">Adresses utiles</a>
                <a href="login" title="Vers la gestion de la bibliothèque">
                    <img src="{% static 'images/icons/Login.png'%}" height="70%" width="70%">
                </a>
            </div>
            <div class="contenu">
                <div class="contenuNiv2">
                    <div class="centre800">
                        <table>
                            <tr>
                                <td>
                                    <a href="https://www.lantrecouretjardin.com" target="_blank" title="Vers le site de l'Antre cour et Jardin">
                                        L'Antre Cour et Jardin
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="mailto:daisy.lepretre@quievrain.be" title="Courriel à la Directrice Artistique, Daisy Leprêtre">
                                        Les cœurs chantants
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/profile.php?id=100048560826082" target="_blank" title="Page Facebook de la société">
                                        Royale Harmonie de Basècles
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/harmoniequaregnon/" target="_blank" title="Vers la page Facebook de la Royale Philharmonie de Quaregnon">
                                        Royale Philharmonie de Quaregnon
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.communedour.be/loisirs/culture/associations/societes-musicales/societe-royale-des-fanfares-de-dour" target="_blank" title="Vers le site de la Société Royale des Fanfares de Dour">
                                        Société Royale des Fanfares de Dour
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/people/Harmonie-de-Rombies-et-Marchipont/100067780492601/?paipv=0&eav=AfY42YXoxgVjvPY_uA-py2xEuFL0RCrYmkpXC99FA1aabDZzB5s-Y4ljOp2pv6buVaU&_rdr" target="_blank" title="Vers la page Facebook de l'Harmonie de Rombies-et-Marchipont">
                                        Harmonie de Rombies-et-Marchipont
                                    </a>
                                </td>
                                <td>
                                    <a href="https://www.facebook.com/people/Harmonie-de-Rombies-et-Marchipont/100067780492601/?paipv=0&eav=AfY42YXoxgVjvPY_uA-py2xEuFL0RCrYmkpXC99FA1aabDZzB5s-Y4ljOp2pv6buVaU&_rdr" target="_blank">
                                        <img src="{% static 'images/logos/societes/Rombies.png'%}" width="75%" height="75%">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="http://www.jbband.com" target="_blank" title="Vers le site du JBBand">
                                        JBBand
                                    </a>
                                </td>
                                <td>
                                    <a href="http://www.jbband.com" target="_blank" title="Vers le site du JBBand">
                                        <img src="{% static 'images/logos/societes/JBBand.png' %}" width="85%" height="85%">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://sites.google.com/site/philenavant/home?authuser=0" target="_blank" title="Vers le site de la Philharmonie Binchoise">
                                        Philharmonie Binchoise "En Avant"
                                    </a>
                                </td>
                                <td>
                                    <a href="https://sites.google.com/site/philenavant/home?authuser=0" target="_blank" title="Vers le site de la Philharmonie Binchoise">
                                        <img src="{% static 'images/logos/societes/PBEnAvt.png' %}" width="85%" height="85%">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/Renaissance.Quevaucamps/?locale=fr_FR" target="_blank" title="Vers la page Facebook de la Philharmonie La Renaissance">
                                        Philharmonie "La Renaissance"
                                    </a>
                                </td>
                                <td>
                                    <a href="https://www.facebook.com/Renaissance.Quevaucamps/?locale=fr_FR" target="_blank" title="Vers la page Facebook de la Philharmonie La Renaissance">
                                        <img src="{% static 'images/logos/societes/PhilRenaissance.png' %}" width="85%" height="85%">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    <br><br>
        <footer class="box">
            <div class="copyright">
                <em>© 2023 - Royale Union Musicale de Petit-Dour - All rights reserved - Réalisé par J.D.</em>
            </div>
            <div class="liens">
                <a href="https://www.facebook.com/profile.php?id=100009126660232"
                   title="Vers la page Facebook de la RUM" target="_blank">
                    <img src="static/images/icons/Facebook.ico" width="8%" height="8%">
                </a>
            </div>
            <div class="dateJour">
                <em>Nous sommes le {% now "j E Y" %}</em>
            </div>
        </footer>
    </body>
</html>